@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Noto Sans KR', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  @apply w-full h-full;
}

.splide__pagination .splide__pagination__page{
  background-color: grey;
  width: 12px;
  height: 12px;
  @apply mx-2 rounded-half;
}

.splide__pagination .splide__pagination__page.is-active{
  background-color: white;
}

/* .splide__pagination {
  counter-reset: pagination-num;
}

.splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter( pagination-num );
} */

.circle {
  display: block;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
}

@keyframes spin { 
  100% { 
    transform: rotateZ(360deg);
  }
}